.area{
    width: 100%;
    font-family: 'GHEA Grapalat';
    color: #EEEBE6;
	font-size: 18px;
}

.photo_area{
    display: flex;  
    flex-direction: row;  
    align-items: center;
}
.photo_area img{
    padding: 10px;
    width: 200px;
    border-radius: 20px;
}
.about p{
    padding: 10px;
}
.about a{
    color: #EEEBE6;
    cursor: pointer;
}

.about a:hover{
    text-decoration: none;
}

.about video{
    padding: 10px;
    width: 90%;
}

